<div class='header circle'>
    <div>
        <div class='greeting'>Hi, I'm</div>
        <h1 class='name'>Julian Ceipek</h1>
        <div class='goal'>I strive to create beautiful experiences that empower people</div>
        <!-- intrepid polymath -->
        <!-- rethinking broken wheels -->
        <!-- learning to learn -->
        <!-- sisyphean perfectionist -->
        <!-- aspiring empath -->
        <!-- . -->
    </div>
</div>
<div class='circle-container'>
    <a class='circle circle--small' href='https://github.com/jceipek' style='top: -24em; left: 8em'>
        <img src="{{(resources.Get `icons/GitHub-Mark-120px-plus.png`).RelPermalink}}" />
        <span>github</span>
    </a>
    <a class='circle circle--small' href='documents/Julian_Ceipek_CV.pdf' style='top: -17em; left: 11em'>
        <img style="margin-top: 0.6em;" src="{{(resources.Get `icons/resume-icon.png`).RelPermalink}}" />
        <span>creds</span>
    </a>
    <a class='circle circle--small' href='mailto:julian.ceipek@gmail.com' style='top: -9.5em; left: 10em'>
        <img style="margin-bottom: -.7em;" src="{{(resources.Get `icons/email-icon.png`).RelPermalink}}" />
        <span>contact</span>
    </a>
    <a class='circle circle--small' href='{{ (.GetPage "inspiration").RelPermalink }}' style='right: 9em; top: -24em;'>
        <span>inspiration</span>
    </a>
    <a class='circle circle--small' href='//jceipek.com/thoughts' target="_blank" style='right: 11em; top: -17em;'>
        <span>thoughts</span>
    </a>
    <div class='circle circle--focused circle--down' style='right: -4em; top: -2em;'>
        <h3>{{ if .Section }}{{ .Section }}{{ else }}projects{{ end }}</h3>
    </div>
</div>
<div class='expansion-line'></div>