{{/*  <div class='header circle'>
    <div>
        <div class='greeting'>Hi, I'm</div>
        <h1 class='name'>Julian Ceipek</h1>
        <div class='goal'>I strive to create beautiful experiences that empower people</div>
        <!-- intrepid polymath -->
        <!-- rethinking broken wheels -->
        <!-- learning to learn -->
        <!-- sisyphean perfectionist -->
        <!-- aspiring empath -->
        <!-- . -->
    </div>
</div>  */}}
<div class='header-container'>
    <div class='header'>
        <div class='greeting'>
            <p>Hi, I'm</p>
            <h1 class='name'><span class='name--first'>Julian</span> <span class='name--last'>Ceipek</span></h1>
            <div class='mission'><p>I &hearts; learning, collaborating &amp; teaching.</p>
            <p>I craft systems with &amp; for people.</p></div>
        </div>
    </div>
</div>
<div class='links-container'>
    <div class='links'>
        <a class='circle circle--small circle--left' href='https://github.com/jceipek'>
            <img src="data:image/svg+xml;base64,{{(resources.Get `icons/github.min.svg`).Content | base64Encode}}" />
            <span>github</span>
        </a>
        <a class='circle circle--small circle--center' href='documents/Julian_Ceipek_Resume_11_20_2023.pdf'>
            <img style="margin-top: 0.6em;" src="data:image/svg+xml;base64,{{(resources.Get `icons/resume.min.svg`).Content | base64Encode}}" />
            <span>resume</span>
        </a>
        <a class='circle circle--small circle--right' href='mailto:julian.ceipek@gmail.com'>
            <img style="margin-bottom: -0.2em;" src="data:image/svg+xml;base64,{{(resources.Get `icons/contact.min.svg`).Content | base64Encode}}" />
            <span>contact</span>
        </a>
    </div>
</div>