[submodule "Shades-Unity"]
	path = Shades-Unity
	url = git://github.com/jceipek/Shades-Unity.git
[submodule "LudumDare23"]
	path = LudumDare23
	url = git://github.com/jceipek/LudumDare23.git
[submodule "Scrubbing-Calc"]
	path = Scrubbing-Calc
	url = git://github.com/jceipek/Scrubbing-Calc.git
[submodule "p-draw"]
	path = p-draw
	url = git://github.com/jceipek/P-Draw.git
