<a class="project project--highlight" href="{{ if eq .Params.link `` }}{{ .RelPermalink }}{{ else }}{{ .Params.link }}{{ end }}" {{ with .Params.opens_new_page }} target="_blank" {{ end }}>
    <span class="interior">
        <h3>{{.Title}}</h3>
    </span>
    <span class="overlay">
        <span class="overlay-description">
            {{ .Params.link_text }}
        </span>
    </span>

    {{/*  <span class="project-description">
        <h3>{{.Title}}</h3>
        <span class="project-tagline">{{.Param "tagline"}}</span>
    </span>  */}}
    {{/*  <span class="project-description">
        <span class="project-tagline">{{.Param "tagline"}}</span>
    </span>  */}}
    <span class="img-container {{ with .Params.dark }}img-container--dark{{ end }}">
        {{ $src_img := .Resources.GetMatch .Params.img }}
        {{ if $src_img }}
            <picture>
                {{ $img_orig := $src_img.Process "webp" }}
                {{ $img_600 := $src_img.Resize "600x webp" }}
                {{ $img_1200 := $src_img.Resize "1200x webp" }}
                <source type="image/webp" srcset="{{$img_600.RelPermalink}} {{$img_600.Width}}w, {{$img_1200.RelPermalink}} {{$img_1200.Width}}w, {{$img_orig.RelPermalink}} {{$img_orig.Width}}w" sizes="{{ $img_orig.Width }}px" />
                {{ $img_orig := $src_img }}
                {{ $img_600 := $src_img.Resize "600x jpeg" }}
                {{ $img_1200 := $src_img.Resize "1200x jpeg" }}
                <img srcset="{{ $img_600.RelPermalink }} {{$img_600.Width}}w, {{ $img_1200.RelPermalink }} {{$img_1200.Width}}w, {{$img_orig.RelPermalink}} {{$img_orig.Width}}w" src="{{ $img_600.RelPermalink }}" height="{{ $img_orig.Height }}" width="{{ $img_orig.Width }}" sizes="{{ $img_orig.Width }}px" />
            </picture>
        {{ end }}
    </span>
    {{/*  <span class="highlight-summary">
    {{- .Content -}}
    </span>  */}}
{{/*      <span class="project-details">
        <span class="project-roles">{{ delimit .Params.roles ", " " &amp; " }}</span>
        {{ with .Params.collaborators }}
        <span class="project-collaborators"><span class="with">with</span> {{ delimit . ", " " &amp; " }}</span>
        {{ end }}
    </span>  */}}
</a>