<a class='project' href='{{ if eq .Params.link `` }}{{ .RelPermalink }}{{ else }}{{ .Params.link }}{{ end }}' {{ with .Params.opens_new_page }} target='_blank' {{ end }}>
<!-- <a class='project' href='{{ .Params.link }}' {{ with .Params.opens_new_page }} target='_blank' {{ end }}> -->
    <span class='overlay'>
        <span class='overlay-description'>
            {{ .Params.link_text }}
        </span>
    </span>

    <span class='project-description'>
        <h3>{{.Title}}</h3>
        <span class='project-tagline'>{{.Param "tagline"}}</span>
    </span>
    <span class='img-container {{ with .Params.dark }}img-container--dark{{ end }}'>
        {{ $src_img := .Resources.GetMatch .Params.img }}
        {{ if $src_img }}
            {{ if eq $src_img.MediaType.SubType "svg" }}
                <img src="{{ $src_img.RelPermalink }}" />
            {{ else }}
                <picture>
                    {{ $img_orig := $src_img.Process "webp" }}
                    {{ $img_600 := $src_img.Resize "600x webp" }}
                    {{ $img_1200 := $src_img.Resize "1200x webp" }}
                    <source type="image/webp" srcset="{{$img_600.RelPermalink}} {{$img_600.Width}}w, {{$img_1200.RelPermalink}} {{$img_1200.Width}}w, {{$img_orig.RelPermalink}} {{$img_orig.Width}}w" />
                    {{ $img_orig := $src_img }}
                    {{ $img_600 := $src_img.Resize "600x jpeg" }}
                    {{ $img_1200 := $src_img.Resize "1200x jpeg" }}
                    <img srcset="{{ $img_600.RelPermalink }} {{$img_600.Width}}w, {{ $img_1200.RelPermalink }} {{$img_1200.Width}}w, {{$img_orig.RelPermalink}} {{$img_orig.Width}}w" src="{{ $img_600.RelPermalink }}" />
                </picture>
            {{ end }}
        {{/*  <img src="{{ $img.RelPermalink }}" />   */}}{{/* TODO(JULIAN): better resource path */}}
        {{/*TODO(JULIAN): imgsrcset and resolutions for better image loading esp in mobile; retina*/}}
        {{ end }}
    </span>
    <span class='project-details'>
        <span class='project-roles'>{{ delimit .Params.roles ", " " &amp; " }}</span>
        {{ with .Params.collaborators }}
        <span class='project-collaborators'><span class='with'>with</span> {{ delimit . ", " " &amp; " }}</span>
        {{ end }}
    </span>
</a>