@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  background-attachment: fixed;
  font-family: sans-serif;
  color: #333;
}

header {
  text-shadow: 1px 1px 2px #eee;
  text-align: center;
  border-top: 20px solid;
  border-bottom: 7px solid;
  border-color: #333;
  padding:1em;
  font-family: 'Fredericka the Great', cursive;
}

h1, h2, h3 {
  font-style: normal;
  font-weight: normal;
}

a {
  color: #dd3333;
}

.inline-video {
  width: 100%;
}

.ref {
  color: #dd3333;
  font-style: italic;
}

.internal-ref {
  color: #777;
}

.sidenote-marker {
  font-size: 0.6em;
  color: #777;
}

.sidenote-marker-ref {
  color: #777;
  position: relative;
  left: -1em;
  top: 1em;
}

.internal-ref-up::after {
  content: url('../images/icons/up-reference.png');
}

h1 {
  margin-top: 0.5em;
  font-size: 2.5em;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.2em;
  margin-top: 0.2em;
  font-family: 'Fredericka the Great', cursive;
}

.style-quote {
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;
}

.intro {
  font-size: 1.5em;
  font-family: sans-serif;
  color: #555555;
  text-shadow: 1px 1px 2px #eee;
}

aside {
  max-width: 20em;
  float: left;
}

.center-column {
  max-width: 50em;
  margin-right: 20em;
  /*float: left;*/
}

.sidenote {
  width: 20em;
  position: absolute;
  right: 1em;
  font-size: 0.8em;
}

.sidenote .note {
  display: block;
  padding-bottom: 1em;
}

.quote {
  border-left: 2px solid #bbb;
  display: inline-block;
  padding-left: 0.7em;
}

.quote-context {
  display: inline-block;
}

.quote::before {
  content: "\201C";
  font-size: 1.5em;
  position: absolute;
  left: 0.15em;
  color: #777;
}

.sidenote img {
  max-width: 20em;
}

section {
  font-size: 1.2em;
  line-height: 1.2em;
}

section p {
  padding: 0 2em;
}

.container {
  margin: 0;
  padding: 0;
}

h2 {
  padding-left: 1em;
  font-size: 3em;
  line-height: 1em;
  padding: 1em 1em;
  background-color: rgba(1,0,0,0.1);
  background-attachment: fixed;
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
  margin: 0;
}

.subsection {
  margin: 0 1em;
}

.subsubsection {
  margin: 0 2em;
}

h3 {
  padding-left: 1em;
  font-size: 2em;
  line-height: 2em;
  background-color: rgba(1,0,0,0.1);
  background-attachment: fixed;
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}

.motivation {

}

/* For game demo */
.demo {
  /*background-color: red;*/

  border-left: 5px #33a solid;
  width: 80%;
  height: 20em;
}

.demo .controls {
  background-color: #333;
  padding: 0.1em 0.5em;

  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}

.controls a {
  color: #eee;
}

.demo-content {
  height: 18.5em;
  overflow: scroll;
  margin-bottom: 1em;
}

footer {
  margin-top: 1em;
  background-color: #333;
  height: 20px;
}


.game-turn {
  font-weight: bold;
}

.game-action {
  font-style: italic;
}

.game-emotion {
  font-style: italic;
}

.game-event {
  margin: 0.3em 0 0.3em 1em;
}

.game-relationship {
  color: #338833;
}
