@brand-color: rgb(121, 239, 255);
@disabled-color: rgb(162,162,162);

body#b {
  //background-color: red;  
}

#centerpiece {
  margin: 1em 0em;
  width: 100%;
  text-align: center;
}

#name {
  font-size: 4.4em;
  line-height: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal; // (Fix for Mobile Safari doubled text)
}

#links {
  margin: 0 auto;
  padding-top: 15px;  
  font-size: 1.5em;
  text-align: center;
  width: 18em;
  height: 4em;

  .nav-item {
    margin: 0em 1em;
    display: inline;
    float: left;

    a {
      display: block;  
    }

    figure {
      margin: 0;  
    }

    figcaption {
      padding-top: 0.2em;  
    }

    img {
      width: 63px;
    }

    img:hover {
      opacity: 0.3;  
    }
  }
}

#projects {
  top: 100%;
  
  width: 100%;
  text-align: center; 
  background-color: @brand-color;
  height: 5000px;

  h2 {
    color: white;
    padding-top: 0.6em;
    font-size: 3em;
    margin-bottom: 1.76em;
    text-shadow: rgb(204, 204, 204) -1px -3px 0px;
  }
}

#map {
  background-color: rgb(87, 87, 87);  
  height: 500px;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: darken(rgb(87, 87, 87), 20%);
}  
