@brand-color: rgb(121, 239, 255);
@disabled-color: rgb(162,162,162);

#centerpiece {
  width: 100%;
  text-align: center;
  position: relative;
  top: 36%;
  margin-top: 0px;
}

#name {
  font-size: 4.4em;
  line-height: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal; // (Fix for Mobile Safari doubled text)
}

#links {
  margin: 0;
  padding-top: 15px;  
  font-size: 1.5em;
  text-align: center;

  li {
    margin: 0em 1em;
    display: inline;
  }
}

#projects {
  width: 100%;
  position: static;
  text-align: center; 
  background-color: @brand-color;
  height: 5000px;
  margin-top: 20%;  

  h2 {
    color: white;
    padding-top: 20px;
    font-size: 3em;
    margin-bottom: 100px;
    text-shadow: rgb(204, 204, 204) -1px -3px 0px;
  }
}

#map {
  background-color: rgb(87, 87, 87);  
  height: 500px;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: darken(rgb(87, 87, 87), 20%);
}  
