/* line 14, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
body {
  background-color: #7eeffe;
  color: #333333;
  font-family: 'Open Sans', sans-serif; }

/* line 19, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle-container {
  position: relative;
  width: 1em;
  height: 1em;
  margin: auto; }

/* line 25, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle {
  border-radius: 50%;
  width: 24em;
  height: 24em;
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

/* line 37, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle--small, .circle--focused {
  position: absolute; }

/* line 40, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle--small {
  width: 7em;
  height: 7em; }

/* line 44, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle--focused {
  width: 9em;
  height: 9em; }

/* line 48, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle div {
  margin: auto;
  padding: 0 .5em; }

/* line 52, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.name {
  font-family: 'Dosis', sans-serif;
  font-size: 3em;
  line-height: 1.3em;
  text-align: center;
  text-rendering: optimizelegibility;
  margin: 0;
  font-weight: normal; }

/* line 61, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.greeting, .goal {
  font-size: 1.2em;
  line-height: 1.2em;
  color: #898989;
  text-align: center; }

/* line 67, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.header {
  margin-top: 3em; }

/* line 70, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle img {
  -webkit-box-flex: none;
  -webkit-flex: none;
  -moz-box-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  width: 3em;
  height: 3em; }

/* line 75, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
a {
  color: #08c;
  text-decoration: none; }

/* line 79, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
a:visited {
  color: #CC00C9; }

/* line 82, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
a.circle--small {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  transition: width 0.5s, height 0.5s; }

/* line 90, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
a.circle--small:hover {
  text-decoration: none;
  width: 8em;
  height: 8em; }

/* line 95, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.circle--down {
  background-image: url("/images/icons/down-icon.png");
  background-repeat: no-repeat;
  background-position: center 4.5em;
  background-size: 3em; }

/* line 101, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.expansion-line {
  border-right: 0.4em solid white;
  margin: auto;
  width: 0;
  height: 15em; }

/* line 107, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-container {
  background-color: white;
  margin: auto;
  margin-bottom: 3em;
  padding: 2em 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/* line 119, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project {
  width: 20em;
  height: 19em;
  margin: 0.5em 2.3em;
  position: relative; }

/* line 125, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
a.project {
  text-decoration: none;
  color: #333333; }

/* line 129, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project h3 {
  width: 100%;
  color: #333333;
  margin: 0;
  font-family: 'Dosis', sans-serif; }

/* line 139, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.overlay {
  background-color: rgba(51, 51, 51, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/* line 153, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.overlay-description {
  margin: auto;
  color: white;
  font-size: 1.3em; }

/* line 158, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project:hover .overlay {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s; }

/* line 163, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-tagline {
  font-style: italic; }

/* line 167, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-details, .project-description {
  padding-left: 0.2em;
  display: block; }

/* line 171, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-details {
  text-align: right; }

/* line 174, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-tagline, .project-collaborators, .project-roles {
  color: #333333;
  width: 100%;
  display: block; }

/* line 179, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.with {
  font-weight: bolder; }

/* line 183, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-collaborators {
  font-size: 0.7em; }

/* line 186, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project img {
  height: 10em; }

/* line 190, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.img-container {
  background-color: #f0f0f0;
  line-height: 0;
  text-align: center;
  display: block;
  margin: 0.1em 0; }

/* line 198, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.img-container--dark {
  background-color: #222222; }

/* line 202, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl-container {
  max-width: 52em;
  margin: auto;
  background-color: white;
  margin-bottom: 3em;
  padding: 2em; }

/* line 210, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl {
  margin-top: 1em; }

/* line 214, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl img {
  height: 10em; }

/* line 218, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl .img-container {
  float: left;
  width: 20em;
  margin-right: 1em; }

/* line 224, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl h2 {
  margin: 0; }

/* line 228, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-about h3 {
  margin: 0.7em 0 0.1em 0; }

/* line 232, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-about h4 {
  margin: 0.7em 0 0.1em 0; }

/* line 236, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-about p {
  margin: 0 0 0.5em 0; }

/* line 240, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-about img {
  width: 100%;
  height: auto; }

/* line 245, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-expl-container a img {
  height: 0.8em; }

/* line 249, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.project-about {
  padding-top: 0.5em;
  clear: both;
  font-size: 1.2em; }

/* line 256, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

/* line 263, /Users/jceipek/Development/jceipek.github.com/julian_ceipek/source/stylesheets/main.scss */
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
