#centerpiece {
  margin: 1em 0em;
  width: 100%;
  text-align: center;
}
#name {
  font-size: 4.4em;
  line-height: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
#links {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 1.5em;
  text-align: center;
  width: 18em;
  height: 4em;
}
#links .nav-item {
  margin: 0em 1em;
  display: inline;
  float: left;
}
#links .nav-item a {
  display: block;
}
#links .nav-item figure {
  margin: 0;
}
#links .nav-item figcaption {
  padding-top: 0.2em;
}
#links .nav-item img {
  width: 63px;
}
#links .nav-item img:hover {
  opacity: 0.3;
}
#projects {
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: #79efff;
  height: 5000px;
}
#projects h2 {
  color: white;
  padding-top: 0.6em;
  font-size: 3em;
  margin-bottom: 1.76em;
  text-shadow: #cccccc -1px -3px 0px;
}
#map {
  background-color: #575757;
  height: 500px;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: #242424;
}
