body {
  font-size: 62.5%;
}
#centerpiece {
  margin: 1em 0em;
  width: 100%;
  text-align: center;
}
#name {
  font-size: 5.7em;
  line-height: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
.intro-text {
  margin-top: 0.6em;
  font-size: 1.7em;
  width: 15em;
  margin-left: auto;
  margin-right: auto;
  color: #898989;
}
#links {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 2em;
  text-align: center;
  width: 16.1em;
  height: 4em;
}
#links ul {
  margin-left: 0em;
}
#links .nav-item {
  margin: 0em 1em;
  display: inline;
  float: left;
}
#links .nav-item a {
  display: block;
}
#links .nav-item a:hover {
  text-decoration: none;
}
#links .nav-item figure {
  margin: 0;
}
#links .nav-item figcaption {
  padding-top: 0.2em;
}
#links .nav-item:hover {
  opacity: 0.3;
}
#projects-header {
  background-color: #79efff;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  position: relative;
  border-color: #000;
  box-shadow: 0px 5px 5px #222;
}
#projects-header h2 {
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.1em;
  font-size: 4.6em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
#projects-header img {
  position: relative;
  padding-bottom: 0.2em;
}
#projects {
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: #383838;
}
.label {
  font-size: 0.5em;
  line-height: 1em;
  padding: 0.1em 0.3em;
}
h3 {
  font-size: 4em;
  line-height: 1em;
  margin: 0.5em 0em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}
#project-container {
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
}
#map h3,
#pyshiva h3 {
  background-color: rgba(0, 0, 0, 0.57);
}
.project {
  box-shadow: 5px 5px 5px #222;
  margin-bottom: 4em;
  text-align: left;
  background-color: #575757;
}
.project h3 {
  font-size: 4.25em;
  line-height: 1em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #acacac;
  position: absolute;
  max-width: 9em;
}
.project img {
  margin-left: -1em;
  border-radius: 1.5em;
  margin-bottom: 1em;
}
.project .meta {
  padding: 1em;
  float: right;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.57);
  line-height: 1em;
  color: #acacac;
  margin-bottom: 1em;
}
.project .meta .value {
  font-size: 0.8em;
  font-style: italic;
  display: inline-block;
  margin-left: 0.5em;
}
.project .description {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 80em;
  padding: 2em;
  padding-top: 1em;
}
.project .tagline {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  line-height: 1em;
  color: #e9e9e9;
  min-width: 17em;
  display: inline-block;
}
.project p {
  font-size: 1.8em;
  line-height: 1.1em;
  text-align: left;
  color: #c5c5c5;
}
.project p a {
  font-size: 1em;
}
.project a {
  font-size: 1.8em;
}
