body {
  font-size: 62.5%;
}
#centerpiece {
  margin: 1em 0em;
  width: 100%;
  text-align: center;
}
#name {
  font-size: 5.7em;
  line-height: 1em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
.intro-text {
  margin-top: 0.6em;
  font-size: 1.7em;
  width: 13em;
  margin-left: auto;
  margin-right: auto;
  color: #898989;
}
#links {
  margin: 0 auto;
  padding-top: 15px;
  font-size: 2em;
  text-align: center;
  width: 18.1em;
  height: 4em;
}
#links .nav-item {
  margin: 0em 1em;
  display: inline;
  float: left;
}
#links .nav-item a {
  display: block;
}
#links .nav-item a:hover {
  text-decoration: none;
}
#links .nav-item figure {
  margin: 0;
}
#links .nav-item figcaption {
  padding-top: 0.2em;
}
#links .nav-item:hover {
  opacity: 0.3;
}
#projects {
  top: 100%;
  width: 100%;
  text-align: center;
  background-color: #79efff;
}
#projects h2 {
  color: white;
  padding-top: 0.4em;
  padding-bottom: 0.1em;
  font-size: 4.6em;
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}
#projects img {
  padding-bottom: 0.2em;
}
.label {
  font-size: 0.5em;
  line-height: 1em;
  padding: 0.1em 0.3em;
}
h3 {
  font-size: 4em;
  line-height: 1em;
  margin: 0.5em 0em;
  font-family: 'Raleway', sans-serif;
}
#map h3,
#pyshiva h3 {
  background-color: rgba(0, 0, 0, 0.57);
}
.project {
  text-align: left;
  background-color: #575757;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: #242424;
}
.project h3 {
  font-size: 4.25em;
  line-height: 1em;
  padding-left: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-family: 'Raleway', sans-serif;
  color: #acacac;
  position: absolute;
  max-width: 9em;
}
.project img {
  margin-left: -1em;
  margin-right: 2em;
  border-radius: 1.5em;
}
.project .description {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  max-width: 80em;
  padding-bottom: 0.5em;
}
.project .tagline {
  font-family: 'Dosis', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  margin-bottom: 0.5em;
  line-height: 1em;
}
.project p {
  font-size: 1.8em;
  line-height: 1em;
  text-align: left;
  color: #a3a3a3;
}
.project a {
  font-size: 1.8em;
}
