---
title: Julian Ceipek
---

<%= partial(:header) %>
<div class='project-container'>
  <% data.project_list.each do |p| %>
    <%= partial(:project,  :locals => sitemap.find_resource_by_path((Pathname('projects')+p).to_s).data) %>
  <% end %>
</div>