---
title: Julian Ceipek | Inspiration
---

<%= partial(:header, :locals => {:target => 'inspiration'}) %>
<div class='inspiration-container'>
	<div>I like many things. Here are some of them, so they won't get lost.</div>
	<ul>
		<li><a href="http://explorableexplanations.com/" target="_blank">A collection of Explorable Explanations (http://explorableexplanations.com/)</a></li>
		<li><a href="http://worrydream.com/" target="_blank">Bret Victor's projects build on human capabilities to extend thought (http://worrydream.com/)</a></li>
		<li><a href="http://www.chris-granger.com/" target="_blank">Chris Granger also thinks programming is broken (http://www.chris-granger.com/)</a></li>
		<li><a href="http://hpmor.com" target="_blank">Fiction to teach rationality (http://hpmor.com)</a></li>
		<li><a href="http://glench.com/LegibleMathematics/" target="_blank">Math should be legible (http://glench.com/LegibleMathematics/)</a></li>
		<li><a href="http://www.physicsbasedanimation.com" target="_blank">A collection of resources on simulating physics "for human visual consumption" (http://www.physicsbasedanimation.com)</a></li>
	</ul>
	Soon, this list will be much longer.
</div>